.p-fa {
  &__heading {
    position: relative;
    margin-top: 15rem;
    padding:  0 4rem;
    z-index: 1;

    &-text {
      width: fit-content;
      margin: 4rem auto 0;
      h2 {
        display: inline-block;
        width: 110%;
        @include font(2.3, 700, 0.04, 1.4);
        color: #222222;

        span {
          @include font(3.2, 700, 0.05, 1.4);
          color: #628667;
        }
      }

      p {
        @include font(1.4, 700, 0.05, 2);
        color: #222222;
        margin-top: 2rem;
      }
    }

    &-img {
      position: relative;
      display: block;
      margin-top: 5rem;
      height: 24rem;

      img {
        position: absolute;
        object-fit: contain;
        &:first-child {
          top: 2rem;
          left: -5rem;
          width: 26rem;
          height: auto;
        }

        &:nth-of-type(2){
          top: -4rem;
          right: -2rem;
          width: 16rem;
          height: auto;
        }

        &:last-child {
          right: -3rem;
          bottom: -10rem;
          width: 10.7rem;
          height: auto;
        }
      }
    }
  }

  &__inner {
    padding: 0 5rem;
  } 

  &-play {
    position: relative;
    z-index: 10;
    margin-top: 3rem;
    &__title {
      
    }

    &__text {
      p {
        @include font(1.4, 700, 0.05, 2);
        color: #222222;
        margin-top: 1.5rem;
      }
    }

    &__btn {
      width: 23.5rem;
      margin: 5rem auto;
      a {
        @include font(1.6, 700, 0.08, 1.4);
        color: #fff;
        text-align: center;
        padding: 1.6rem 0;
        width: 100%;
        background-color: #325537;
        display: block;
        border: 1px solid #325537;
        transition: .3s;
        @media (--large){
          &:hover {
            background-color: #fff;
            color: #325537;
          }
        }
      }
    }
  }

  &-eat {
    position: relative;
    margin-top: 17rem;
    background-color: #628667;
    padding-top: 1rem;
    &::before {
      position: absolute;
      top: -13rem;
      left: 50%;
      z-index: -1;
      width: 100%;
      height: 13.6rem;
      content: "";
      background: url(../images/top/news_deco_after.png);
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%) translateY(3rem);
    }
    &::after {
      position: absolute;
      bottom: 2.1rem;
      left: 50%;
      z-index: -1;
      width: 100%;
      height: 11rem;
      content: "";
      background: url(../images/top/news_deco_after.png);
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%) translateY(13rem) scaleY(-1);
    }
    &__title {
      color: #FFFFFF;
    }

    &__deco {
      position: absolute;
      top: -4rem;
      right: 2rem;
      width: 18rem;
      height: 14.7rem;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__img {
      margin-top: 1.5rem;
      width: 35.8rem;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__text {
      margin-top: 4rem;
      p {
        @include font(1.4, 700, 0.05, 2);
        color: #FFFFFF;
      }
    }

    &__btn {
      width: 23.5rem;
      margin: 5rem auto;
      a {
        @include font(1.6, 700, 0.08, 1.4);
        color: #fff;
        text-align: center;
        padding: 1.6rem 0;
        width: 100%;
        background-color: #325537;
        display: block;
        border: 1px solid #325537;
        transition: .3s;
        @media (--large){
          &:hover {
            background-color: #fff;
            color: #325537;
          }
        }
      }
    }
  }

  &-enjoy {
    position: relative;
    margin-top: 20rem;
    &__deco {
      position: absolute;
      top: -1rem;
      right: 2rem;
      img {
        width: 10rem;
        height: 11.6rem;
        object-fit: contain;
      }
    }

    &__img {
      margin-top: 1.5rem;
      height: 25rem;
      img {
        position: absolute;
        object-fit: contain;
        &:first-child {
          left: 0;
          width: 26rem;
          height: 22rem;
        }

        &:last-child {
          top: 12rem;
          right: 1rem;
          width: 19rem;
          height: 19rem;
        }
      }
    }

    &__text {
      margin-top: 3rem;
      p {
        @include font(1.4, 700, 0.05, 2);
        color: #222222;
      }
    }
  }
  
  &-bottom {
    margin-top: 6rem;
    &__head {
      width: 100%;
      img {
        width: 100%;
      }
    }

    &__img {
      position: relative;
      height: 40rem;
      margin-top: 2rem;
      img {
        position: absolute;
        &:first-child {
          top: 0;
          left: 4rem;
          width: 23rem;
          height: auto;
        }

        &:nth-of-type(2){
          top: 1rem;
          right: 4rem;
          width: 15rem;
          height: auto;
        }

        &:nth-of-type(3){
          top: 15rem;
          right: 2rem;
          width: 27rem;
          height: auto;
        }

        &:last-child {
          left: 2rem;
          bottom: 2rem;
          width: 13.8rem;
          height: auto;
        }
      }
    }
  }
}