.p-faq {
  font-family: 'Noto Sans JP', sans-serif;
  &-inner{
    width: 100%;
    margin: 15rem auto 15rem;
    &__title{
      font-family: 'futura-pt', sans-serif;
      font-size: 3.6rem;
      font-weight: 500;
      span{
        display: block;
        color:#222;
        @include font(1.2,700,0.1,1.6rem);
      }

    }
    &__pagelink{
      padding: 4.78rem 1.8rem 0 2.2rem;
      display: flex;
      justify-content: space-around;
      li{
        @include font(1.5,700,0.05,1.6rem);
        &:nth-child(2){
          padding: 0 2rem 0 2.1rem; 
        }
        a{
          display: block;
          height: 4rem;
          color: #325537;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left:50%;
            height: 10px;
            width: 10px;
            border-bottom: solid 2px #325537;
            border-right: solid 2px #325537;
            transform: rotate(45deg) translateX(-50%) translateX(-2px);
          }
          &:hover{
            opacity: 0.5;
            transition: .5s;
          }
        }
      }
    }
    &__contain{
      width: 93%;
      margin: 0 auto;
      .title{
          @include font(2.4,700,0.1,2.5rem);
          color: #325537;
          padding:9.2rem 0 1.9rem;
      }
      &-wrap{
        li{
          border-bottom: 1px solid #325537;
          &:nth-child(1){
            border-top: 1px solid #325537;
          }
        }
        .c-acc{
          border: none;
          margin-top: 0;
          @include font(1.4,700,0.1,2.5rem);
          &__head-title {
            width: 85%;
            display: flex;
            align-items: center;
            span{
              @include font(2.5,700,0.1,5rem);
              padding-right: 1.4rem;
              color: #325537;
            }
          }
          .flex {
            width: 90%;
            display: flex;
            align-items: center;
            span{
              @include font(2.5,700,0.1,5rem);
              padding-right: 1.4rem;
              color: #325537;
            }
          }

          &__list{
            opacity: 0.7;
            p{
              color: #325537;
            }
          }

          .align-none {
            align-items: start;

            span {
              line-height: 1.4;
            }
          }
        }
      }
    }
    #area-1{
      .title{
        padding-top: 7rem;
      }
    }
  }
}