.p-faq {
  font-family: 'Noto Sans JP', sans-serif;
  &-inner{
    width: 100%;
    margin: 15rem auto 15rem;
    &__title{
      font-family: 'futura-pt', sans-serif;
      font-size: 3.6rem;
      span{
        display: block;
        // font-size: 1.2rem;
        @include font(1.2,500,0.05,1.6rem);
        opacity: 0.8;
      }

    }
    &__pagelink{
      padding: 4.78rem 1.8rem 0 2.2rem;
      display: flex;
      li{
        @include font(1.6,700,0.05,1.6rem);
        &:nth-child(2){
          padding: 0 2rem 0 2.1rem;
        }
        a{
          color: #325537;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            bottom: -100%;
            left:49%;
            background-color: #325537;
            height: 2.5px;
            width: 10px;
            transform: rotate(-45deg);
          }
          &::after{
            position: absolute;
            content: "";
            bottom: -100%;
            right: 47%;
            background-color: #325537;
            height: 2.5px;
            width: 10px;
            transform: rotate(45deg);
          }
          &:hover{
            opacity: 0.5;
            transition: .5s;
          }
        }
      }
    }
    &__contain{
      width: 90%;
      margin: 0 auto;
      .title{
          @include font(2.4,700,0.05,2.5rem);
          color: #325537;
          padding:9.2rem 0 1.9rem;
      }
      &-wrap{
        li{
          border-bottom: 1px solid #325537;
          &:nth-child(1){
            border-top: 1px solid #325537;
          }
        }
        .c-acc{
          border: none;
          margin-top: 0;
          @include font(1.4,700,0.1,2.5rem);
          &__head-title, &__list{
            display: flex;
            width: 81.5%;
            span{
              @include font(2.5,700,0.1,5rem);
              padding-right: 1.4rem;
              color: #325537;
            }
          }
          &__list{
            opacity: 0.7;
            p{
              color: #325537;
            }
          }

        }
      }
    }
    #area-1{
      .title{
        padding-top: 7rem;
      }
    }
  }
}