.p-plan {
  &__heading {
    margin-top: 15rem;
    padding:  0 4rem;

    &-btn {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin-top: 4rem;

      a {
        @include font(2.4, 500, 0.05, 1.4);
        color: #325537;
        background-color: #fff;
        border: 1px solid #628667;
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        transition: .3s;
        @media (--large){
          &:hover {
            color: #fff;
            background-color: #325537;
          }
        }
      }
      p {
        position: relative;
        @include font(2.4, 500, 0.05, 1.4);
        color: #fff;
        background-color: #325537;
        margin-top: 2rem;
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          left: 50%;
          bottom: -1.6rem;
          transform: translateX(-50%);
          border-top: 1.8rem solid #325537;
          border-right: 1rem solid transparent;
          border-left: 1rem solid transparent; 
        }
      }
    }
  }

  .s-bbq {
    margin-top: 8rem;
    margin-bottom: 15rem;
    &__title {
      h2 {
        @include font(3, 500, 0.05, 1.4);
        color: #222222;
      }
    }

    &__text {
      margin-top: 1rem;
      p {
        @include font(1.4, 700,  0.05, 1.6);
        color: #222222;
      }
    }

    ul {
    
      li {
        justify-content: initial;
        &::before {
          display: none;
        }
        &:nth-of-type(n + 2){
          margin-top: 0;
        }

        // 単品メニュー
        ul {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 2rem;
          margin-top: 1.5rem;
          li {
            flex-direction: column;
            align-items: flex-start;
            .item-img {
              width: 100%;
              height: auto;
              img {
                width: 100%;
                height: auto;
              }
            }
            p {
              font-size: 1.3rem;
              &:nth-of-type(n + 2){
                display: block;
                margin-left: auto;
                margin-top: 0.3rem;
                text-align: right;
              }
            }
          }
        }
      }
    }

    &__item {
      
      // アコーディオン内画像ありver
      &-list {
        li {
          flex-direction: column;
          &:nth-of-type(n + 2){
            margin-top: 2rem;
          }

          &::before {
            display: none;
          }
          .item-img {
            span {
              position: relative;
              top: 1.5rem;
              left: 0;
              padding: 0.5rem 1.3rem;
              background-color: #325537;
              color: #fff;
              border-radius: 50%;
              font-size: 2.4rem;
              font-family: futura-pt, sans-serif;
            }
            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          .text-wrap {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 0.5rem;
            &::before {
              position: absolute;
              content: "";
              top: 50%;
              transform: translateY(-50%);
              right: 6.5rem;
              background: url(../images/common/dot.png) no-repeat center center / cover;
              width: 7rem;
              height: 2px;
            }
            &.short {
              &::before {
                width: 3.5rem;
              }
            }
          }
        }
      }
    }
    &__img01 {
      margin-top: 5rem;
      img {
        position: relative;
        object-fit: contain;
        &:first-child {
          left: 50%;
          transform: translateX(-50%);
          width: 32rem;
        }
        &:nth-of-type(2) {
          left: 50%;
          transform: translateX(-50%) translateX(14rem) translateY(2rem);
          width: 20rem;
        }
        &:last-child {
          left: 50%;
          transform: translateX(-50%) translateX(-11rem) translateY(-10rem);
          width: 26rem;
        }
      }
    }
    &__img02 {
      margin-top: 2rem;
      border-top: 1px solid #325537;
      padding-top: 2rem;
      img {
        position: relative;
        object-fit: contain;
      }
    }

    &__link {
      width: 22rem;
      margin: 5rem auto;
      a {
        @include font(1.6, 700, 0.08, 1.4);
        color: #fff;
        text-align: center;
        padding: 1.3rem 0;
        width: 100%;
        background-color: #325537;
        display: block;
        border: 1px solid #325537;
        transition: .3s;
        @media (--large){
          &:hover {
            background-color: #fff;
            color: #325537;
          }
        }
      }
    }
  }
}