|<!-- Google Tag Manager (noscript) -->
|<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W47KTK6W"
|height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
|<!-- End Google Tag Manager (noscript) -->
script(src!="<?php echo get_template_directory_uri(); ?>/common/js/front.js")
