:php
  if (is_front_page()) : 
header.l-header.js-header
  .l-header-logo 
    a(href!="<?php echo home_url( '/' ); ?>") 
      include ../svg/logo.svg

  .hamburger
    span
    span
    span
  .reserve.sp
    a(href="https://reserva.be/munibbq/aikotoba" target="_blank")
      include ../svg/ic_reserve_green.svg
      p.en 予約
  nav.globalMenuSp
    div
      ul
        li.en
          a(href!="<?php echo home_url( '/' ); ?>concept") CONCEPT
        li.en
          a(href!="<?php echo home_url( '/' ); ?>facility") FACILITY
        li.en
          a(href!="<?php echo home_url( '/' ); ?>planactivity") PLAN
        li.en
          a(href!="<?php echo home_url( '/' ); ?>news/") NEWS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>access") ACCESS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>faq") Q&A
        li.en
          a(href!="<?php echo home_url( '/' ); ?>contact/") CONTACT
        .nav__contact
          a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
            .nav__contact-wrap
              p.en RESERVE
              include ../svg/ic_reserve_green.svg
            span ご予約
:php
  else :
header.l-header.js-header.u-header
  .l-header-logo 
    a(href!="<?php echo home_url( '/' ); ?>") 
      include ../svg/logo.svg

  .hamburger
    span
    span
    span
  .reserve.sp
    a(href="https://reserva.be/munibbq/aikotoba" target="_blank")
      include ../svg/ic_reserve_green.svg
      p.en 予約
  nav.globalMenuSp
    div
      ul
        li.en
          a(href!="<?php echo home_url( '/' ); ?>") TOP
        li.en
          a(href!="<?php echo home_url( '/' ); ?>concept") CONCEPT
        li.en
          a(href!="<?php echo home_url( '/' ); ?>facility") FACILITY
        li.en
          a(href!="<?php echo home_url( '/' ); ?>planactivity") PLAN
        li.en
          a(href!="<?php echo home_url( '/' ); ?>news/") NEWS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>access") ACCESS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>faq") Q&A
        li.en
          a(href!="<?php echo home_url( '/' ); ?>contact/") CONTACT
        .nav__contact
          a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
            .nav__contact-wrap
              p.en RESERVE
              include ../svg/ic_reserve_green.svg
            span ご予約
:php
  endif;
    

