header.l-header.js-header
  .l-header-logo 
    a(href!="<?php echo home_url( '/' ); ?>") 
      include ../svg/logo.svg

  .hamburger
    span
    span
  nav.globalMenuSp
    div
      ul
        li.en
          a(href!="<?php echo home_url( '/' ); ?>#concept") CONCEPT
        li.en
          a(href!="<?php echo home_url( '/' ); ?>#facility") FACILITY
        li.en
          a(href!="<?php echo home_url( '/' ); ?>news/") NEWS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>#access") ACCESS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>contact/") CONTACT
      
      //- .instagram
      //-   a(href="")
      //-     include ../svg/insta.svg 
    

