:php
  if (is_front_page()) : 
header.l-header.js-header
  .l-header-logo 
    a(href!="<?php echo home_url( '/' ); ?>") 
      include ../svg/logo.svg
  .l-header-sns.sp
    a(href!="https://reserva.be/munibbq/aikotoba" target="_blank") 
      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/time-icon.png', alt='カレンダーアイコン')
    a(href!="https://www.instagram.com/cobble_oya.stone.village/" target="_blank") 
      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/insta-icon.png', alt='インスタグラムアイコン')
  .hamburger
    span
    span
    span
  nav.globalMenuSp
    div
      ul
        li.en
          a(href!="<?php echo home_url( '/' ); ?>concept") CONCEPT
        li.en
          a(href!="<?php echo home_url( '/' ); ?>facility") FACILITY
        li.en
          a(href!="<?php echo home_url( '/' ); ?>planactivity") PLAN
        li.en
          a(href!="<?php echo home_url( '/' ); ?>news/") NEWS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>access") ACCESS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>faq") Q&A
        li.en
          a(href!="<?php echo home_url( '/' ); ?>contact/") CONTACT
        .nav__contact
          a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
            .nav__contact-wrap
              include ../svg/ic_reserve_orange.svg
              p ご予約はこちら
            span 
        .nav__insta
          a(href!="https://www.instagram.com/cobble_oya.stone.village/" target="_blank")
            .nav__insta-wrap
              p Instagram
:php
  else :
header.l-header.js-header.u-header
  .l-header-logo 
    a(href!="<?php echo home_url( '/' ); ?>") 
      include ../svg/logo.svg
  .l-header-sns.sp
    a(href!="https://reserva.be/munibbq/aikotoba" target="_blank") 
      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/time-icon.png', alt='カレンダーアイコン')
    a(href!="https://www.instagram.com/cobble_oya.stone.village/" target="_blank") 
      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/insta-icon.png', alt='インスタグラムアイコン')
  .hamburger
    span
    span
    span
  nav.globalMenuSp
    div
      ul
        li.en
          a(href!="<?php echo home_url( '/' ); ?>") TOP
        li.en
          a(href!="<?php echo home_url( '/' ); ?>concept") CONCEPT
        li.en
          a(href!="<?php echo home_url( '/' ); ?>facility") FACILITY
        li.en
          a(href!="<?php echo home_url( '/' ); ?>planactivity") PLAN
        li.en
          a(href!="<?php echo home_url( '/' ); ?>news/") NEWS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>access") ACCESS
        li.en
          a(href!="<?php echo home_url( '/' ); ?>faq") Q&A
        li.en
          a(href!="<?php echo home_url( '/' ); ?>contact/") CONTACT
        .nav__contact
          a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
            .nav__contact-wrap
              include ../svg/ic_reserve_orange.svg
              p ご予約はこちら
            span 
        .nav__insta
          a(href!="https://www.instagram.com/cobble_oya.stone.village/" target="_blank")
            .nav__insta-wrap
              p Instagram

:php
  endif;
    

