.c-btn01 {
  width: fit-content;
  a {
    display: flex;
    align-items: center;
    p {
      position: relative;
      @include font(1.6, 500, 0.1, 1.4);
      color: #222222;
      transition: .3s;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #222222;
        bottom: -4px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    }
    span {
      position: relative;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: #222222;
      margin-left: 1rem;
      border: 1px solid #222222;
      transition: .3s;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

  }
  @media (--large){
    &:hover {
      a {
        p {
          &::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
        span {
          background-color: #fff;
          svg {
            path {
              stroke: #222222;
            }
          }
        }
      }
    }
  }
}


.c-btn02 {
  width: fit-content;
  a {
    display: flex;
    align-items: center;
    p {
      position: relative;
      @include font(1.6, 500, 0.1, 1.4);
      color: #fff;
      transition: .3s;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        bottom: -4px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    }
    span {
      position: relative;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: #325537;
      margin-left: 1rem;
      border: 1px solid #325537;
      transition: .3s;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

  }
  @media (--large){
    &:hover {
      a {
        p {
          &::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
        span {
          background-color: #fff;
          svg {
            path {
              stroke: #325537;
            }
          }
        }
      }
    }
  }
}