.p-lawer {
  .l-footer {
    // padding-top: 15rem;

    &::before {
      top: 10rem;
    }

    &::after {
      top: 10rem;
    }
  }
}

.l-footer {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #325537;
  z-index: 1;

  &::before {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 9.9rem;
    height: 16.8rem;
    content: "";
    background: url(../images/common/footer-deco-left.png);
    background-size: cover;
  }

  &::after {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 12.6rem;
    height: 17.4rem;
    content: "";
    background: url(../images/common/footer-deco-right.png);
    background-size: cover;
  }

  &__logo {
    width: 13rem;
    margin: 0 auto;
  }

  &__insta {
    width: 2.3rem;
    margin: 3rem auto 0;

    a {
      transition: 0.3s opacity;

      @media (--large) {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6rem;
    padding: 0 4rem;
  }

  &-contact,
  &-insta {
    width: 48%;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 12rem;
      margin: 0 auto;
      color: #fff;
      border: 0.1rem solid #fff;
      transition: 0.3s all;

      @media (--large) {
        &:hover {
          color: #325537;
          background-color: #fff;

          svg {
            path {
              fill: #325537;
            }
          }
        }
      }

      svg {
        width: 2.4rem;
        margin-bottom: 1rem;
      }

      .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2.1rem;
        font-weight: 500;
      }

      .text {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
  }

  &-qa {
    margin-top: 6rem;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40rem;
      height: 12rem;
      margin: 4rem auto 0;
      color: #fff;
      border: 0.1rem solid #fff;
      transition: 0.3s all;

      @media (--large) {
        &:hover {
          color: #325537;
          background-color: #fff;

          svg {
            path {
              fill: #325537;
            }
          }
        }
      }

      svg {
        width: 3rem;
        margin-right: 0.3rem;
      }

      .title {
        font-size: 2.8rem;
        display: flex;
        align-items: center;
        font-weight: 500;
      }

      .text {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
  }

  &-nav {
    width: 30rem;
    margin: 5rem auto 0;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 9rem;

      li {
        width: 50%;
        a {
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 0.1em;
          color: #fff;
          transition: 0.3s opacity;
          @media (--large) {
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    &__company {
      margin-top: 10rem;
      p {
        display: block;
        text-align: center;
        a {
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 0.1em;
          color: #fff;
          transition: 0.3s opacity;
        }
      }
    }
  }

  &-copyright {
    margin-top: 4.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }

  &__scrollBanner {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: -6rem;
      width: 48rem;
      height: 6rem;
      display: flex;
      align-items: center;
      z-index: 1000;
      transition: .5s;
      &.is-scroll {
        bottom: 0;
      }
      
    a {
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: .3s;
      background-color: #FFFFFF;
      border-top: 1px solid #325537;
      &:nth-of-type( 2 ){
        border-left: 1px solid #325537;
      }
      @media (--large){
        &:hover {
          background-color: #628667;
          p {
            &::before {
              background: url(./../images/common/icon-insta-hov.png) no-repeat center center / contain;
            }
          }
          svg {
            g {
              path {
                fill: #fff;
              }

              rect {
                fill: #fff;
              }
            }
          }
          p {
            color: #fff;
          }
        }
      }
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }

      p {
        display: block;
        @include font(1.6, 700, 0.05, 1.4);
        color: #222222;
        padding-left: 1rem;
      }
      &:nth-of-type( 2 ){
        p {
          position: relative;
          padding-left: 3rem;
          &::before {
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 2.5rem;
            height: 2.5rem;
            background: url(./../images/common/icon-insta.png) no-repeat center center / contain;
            transition: .3s;
          }
        }
      }
    }
  }
}

.u-footer {
  padding-top: 0;
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }

  &-reserve {
    position: relative;
    background-color: #325537;
    margin-top: 10rem;
    padding-bottom: 5rem;
    display: block;
    &::before {
      position: absolute;
      top: -13rem;
      left: 50%;
      z-index: 1;
      width: 100%;
      height: 13.6rem;
      content: "";
      background: url(../images/common/u-footer-reserve.png);
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%) translateY(3rem);
    }
    &__inner {
    
    }
    &__title {
      position: relative;
      z-index: 1;
      font-size: 3.6rem;
      color: #fff;
      letter-spacing: 0.05em;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3.1rem;
        height: 3.3rem;
        content: "";
        background: url(../images/top/icon-reserve.png);
        background-size: cover;
        transform: translate(-50%, -50%) translateX(-3rem) translateY(-1rem);
      }
      span {
        display: block;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
      }
    }
    &__text {
      p {
        width: 35.8rem;
        margin: 2rem auto 0;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2;
        color: #fff;
      }
    }

    &__link {
      margin-top: 3rem;
      a {
        background-color: #628667;
        border: 2px solid #628667;
        display: flex;
        padding: 2.7rem 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: .3s;
        .wrap {
          display: flex;
          align-items: center;
          svg {
            margin-right: 2rem;
            display: block;
            width: 3rem;
            height: 3rem;
          }
          p {
            @include font(2.8, 500, 0.05, 1.4);
            color: #fff;
            transition: .3s;
            font-family: futura-pt, sans-serif;
          }
        }

        span {
          display: block;
          @include font(1.4, 700, 0.05, 1.4);
          color: #fff;
          transition: .3s;
          margin-top: 1rem;
        }

        @media (--large){
          &:hover {
            background-color: #fff;

            .wrap {
              p {
                color: #325537;
              }
              svg {
                g {
                  path {
                    fill: #325537;
                  }
                  rect {
                    fill: #325537;
                  }
                }
              }
            }

            span {
              color: #325537;
            }
          }
        }
      }
    }

    &__time {
      margin-top: 4.5rem;

      h3 {
        @include font(1.6, 700, 0.05, 1.4);
        color: #325537;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0.8rem 0;
        &:nth-of-type( 2 ){
          margin-top: 3rem;
        }
      }
      
      &-area {
        display: flex;
        align-items: center;
        background-color: #446949;
        
        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.8rem 0;

          &:nth-of-type( 2 ){
            border-left: 1px solid #95B199;
          }
        }
      }

      &-detail {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #95B199;

        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.8rem 0;

          &:nth-of-type( 2 ){
            border-left: 1px solid #95B199;
            padding-left: 3rem;
            text-align: left;
            line-height: 1.6;
          }
        }
      }

      &-time {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #95B199;

        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.8rem 0;

          &:nth-of-type( 2 ){
            border-left: 1px solid #95B199;
            line-height: 1.6;
          }

          span {
            @include font(1.2, 700, 0.05, 1.4);
          }
        }
      }

      &-area02 {
        display: flex;
        align-items: start;
        background-color: #446949;
        border-bottom: 1px solid #95B199;
        
        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.9rem 0;
          padding-left: 2.6rem;
          &:nth-of-type( 2 ){
            text-align: left;
          }
        }
      }

      &-detail02 {
        display: flex;
        align-items: start;
        border-bottom: 1px solid #95B199;

        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.9rem 0;
          
          &:nth-of-type( 2 ){
            text-align: left;
            line-height: 1.6;
            padding: 0.6rem 0;
            padding-left: 2.6rem;
          }
        }
      }

      &-time02 {
        display: flex;
        align-items: start;
        border-bottom: 1px solid #95B199;

        p {
          display: block;
          width: 50%;
          @include font(1.4, 700, 0.05, 1.4);
          color: #FFFFFF;
          text-align: center;
          height: 100%;
          padding: 0.9rem 0;
          
          &:nth-of-type( 2 ){
            text-align: left;
            line-height: 1.6;
            padding: 0.6rem 0;
            padding-left: 2.6rem;
          }

          span {
            @include font(1.2, 700, 0.05, 1.4);
          }
        }
      }
    }

    .bgGreeen {
      background-color: #446949 !important;
    }
    .bgNone {
      background-color: #628667 !important;
    }
  }
}