doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main.p-top
      main
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01
              .slider-img.slider-img-02

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>#concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>#facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>#access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact

            .p-cr.en © cobble

          .c-inner 
            include /elements/header
            .s-mv
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/mv.jpg", alt="cobble").s-mv__bg
              div.s-mv__deco 
                img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/mv_number.png", alt="")
                div.s-mv__deco--line
                  img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/mv_line.png", alt="")
                div.s-mv__deco--open
                  img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/mv_txt03.png", alt="")
            .p-top-desc.js-inview-each.js-inview 
              .c-i-inner
                .p-top-desc__head
                  .p-top-desc__img01.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/mv_img01.jpg', alt='')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/mv_deco04.png', alt='')
                  .p-top-desc__img02.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/mv_img02.jpg', alt='')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/mv_deco05.png', alt='')
                .p-top-desc__text.en.js-inview(data-inview="fade-top")
                  |Let’s rock it!<br>OYA stone village
                  span 北関東最大級！石の里・大谷のBBQビレッジ
                .p-top-desc__content.js-inview(data-inview="fade-top")
                  .p-top-desc__scroll.en 
                    |SCROLL


            #concept.p-top-concept.js-inview-each.js-inview  
              .c-i-inner
                .p-top-concept__title.en.js-inview(data-inview="fade-top") CONCEPT
                  span コンセプト
                .p-top-concept__mainTxt.js-inview(data-inview="fade-top") 大自然を五感で堪能！<br>全天候型アウトドアフィールド
                .p-top-concept__text.js-inview(data-inview="fade-top") 
                  p 人里離れた景勝地「大谷」で過ごす非日常。<br>切り立った岩肌と木々を望む絶景の里で<br>仲間と最高の思い出をつくりませんか？
                .p-top-concept__link.js-inview(data-inview="fade-top") 
                  .c-btn01
                    a(href="")
                      p VIWE ALL
                      span
                        include ../assets/pug/svg/arrow-white.svg
            .p-top-facility.js-inview-each.js-inview 
              .p-top-facility__cell.js-inview(data-inview="fade-top")
                .p-top-facility__img 
                  img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/img-facility.jpg", alt="好きなスタイルで笑顔あふれるひとときを")
                .p-top-facility__copy 
                  p.js-fadeup.js-inview(data-inview="fade-top") 
                    span 大谷石に囲まれた
                  br
                  p.js-fadeup.js-inview(data-inview="fade-top") 
                    span アウトドアフィールド

              #facility.c-i-inner
                .p-top-facility__title.en.js-inview(data-inview="fade-top") FACILITY
                  span 施設紹介
                .p-top-facility__mainTxt.js-inview(data-inview="fade-top") 好きなスタイルで<br>笑顔あふれるひとときを

                .p-top-facility__text.js-inview(data-inview="fade-top") 
                  p 開放感あふれるcobble〜OYA stone village〜には、旬の食材を味わえるBBQはもちろんのこと、小さなお子様も楽しめるトレジャーハントや岩肌を感じられるクライミング、大自然の中でリフレッシュできる屋外サウナがあります。すべての人が楽しめる、全天候型総合体験施設です。
                .p-top-facility__link.js-inview(data-inview="fade-top") 
                  .c-btn02
                    a(href="")
                      p VIWE ALL
                      span
                        include ../assets/pug/svg/arrow-white.svg
              .p-top-facility__cell.js-inview(data-inview="fade-top")
                .p-top-facility__pct
                  img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/img-facility01.png", alt="みんなで食べるとやっぱり楽しい。")
                .p-top-facility__copy.copy02
                  p.js-fadeup.js-inview(data-inview="fade-top") 
                    span みんなで過ごすと
                  br
                  p.js-fadeup.js-inview(data-inview="fade-top") 
                    span やっぱり楽しい。
                .p-top-facility__bottom
                  img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/img-facility05.jpg', alt='')
                  img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/img-facility06.jpg', alt='')

            .p-top-plan.js-inview-each.js-inview 
              .p-top-plan__inner.c-i-inner
                .p-top-plan__title.js-inview(data-inview="fade-top") PLAN
                  span 料金プラン
                .p-top-plan__mainTxt.js-inview(data-inview="fade-top") レンタル充実、手ぶらでOK！<br>楽しみ方が選べる豊富なプラン
                .p-top-plan__text.js-inview(data-inview="fade-top") 
                  p BBQやアクティビティのプランをご紹介。BBQは手ぶらプランを豊富に揃え、レンタル備品も充実しているので初心者の方も気軽に楽しめます。各種アクティビティでは大谷の自然を満喫できる様々なプランをご用意しております。
                .p-top-plan__link.js-inview(data-inview="fade-top") 
                  .c-btn01
                    a(href="")
                      p VIWE ALL
                      span
                        include ../assets/pug/svg/arrow-white.svg
                .p-top-plan__img.js-inview(data-inview="fade-top") 
                  img(src!='<?php echo get_template_directory_uri(); ?>/common/images/top/plan-img.png', alt='')
            
            #news.c-news.js-inview-each.js-inview 
              .c-i-inner
                .c-news__title.en.js-inview(data-inview="fade-top") NEWS
                  span お知らせ
                .c-news__list.js-inview(data-inview="fade-top")
                  | <?php
                  |  $tax_query = '';
                  |  if( !empty($_GET["cat"]) && $_GET['cat'] ) {
                  |   $tax_query = array('taxonomy' => 'news_cat','field' => 'name','terms' => $_GET['cat']);
                  |  }
                  |  $args = array(
                  |   'post_type' => 'news', // 投稿タイプのスラッグを指定
                  |   'posts_per_page' => 4, // 投稿件数の指定
                  |   'paged' => $paged,
                  |   'tax_query' => array(
                  |     $tax_query,
                  |   )
                  |  );
                  |  $the_query = new WP_Query($args); if($the_query->have_posts()): ?>
                  ul 
                    | <?php while ($the_query->have_posts()): $the_query->the_post(); ?>
                    li 
                      a(href!="<?php the_permalink(); ?>")
                        .top-img
                          img(src!="<?php echo get_the_post_thumbnail_url(); ?>")                          
                          
                        .left-content 
                          .date.en <?php echo the_time('Y.m.d'); ?>
                          .cat 
                            |<?php 
                            |$cat = get_the_terms($post->ID, "news_cat");
                            |foreach($cat as $val => $value): ?>
                            |  <?php if($val === array_key_first($cat)): ?>
                            |    <?php echo $value -> name; ?>
                            |  <?php endif; ?>
                            |<?php endforeach; ?>
                        .right-content   
                          .title <?php the_title(); ?>        
                    |<?php endwhile; ?>
                  |<?php endif; ?>

                .p-top-news__btn.en.js-inview(data-inview="fade-top") 
                  .c-btn02
                    a(href="")
                      p VIWE ALL
                      span
                        include ../assets/pug/svg/arrow-white.svg
            
            #access.p-top-access.js-inview-each.js-inview 
              .c-i-inner
                .p-top-access__title.en.js-inview(data-inview="fade-top") ACCESS
                  span アクセス
                .p-top-access__img.js-inview(data-inview="fade-top") 
                  img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/img-map.png", alt="地図")
                .p-top-access__map.js-inview(data-inview="fade-top") 
                  a(href="https://goo.gl/maps/X6Dg1hPZC8uycNna7" target="_blank") 
                    span.en Google
                    |マップはこちら
                    include ../assets/pug/svg/ic_link-black.svg

                .p-top-access__list.js-inview(data-inview="fade-top") 
                  .content 
                    p 栃木県宇都宮市大谷町字盗人ヶ入909番6
                  .content 
                    p TEL：028-666-6240
                      br
                      |FAX：028-666-6244
                .p-top-access__link
                  .p-top-access__link.js-inview(data-inview="fade-top") 
                    .c-btn01
                      a(href="")
                        p VIWE ALL
                        span
                          include ../assets/pug/svg/arrow-white.svg
            
            .p-top-reserve.js-inview-each.js-inview 
              .p-top-reserve__inner.c-i-inner
                .p-top-reserve__title.en.js-inview(data-inview="fade-top") RESERVE
                  span 予約
                .p-top-reserve__text.js-inview(data-inview="fade-top") 
                  p cobble〜OYA stone village〜のプランは事前予約を承っております。当日受付も可能です。事前予約をご利用の際は以下の予約フォームからお問い合わせください。石の里「大谷」で最高の1日をお過ごしください。
                .p-top-reserve__link.js-inview(data-inview="fade-top") 
                  a(href="")
                    .wrap
                      include ../assets/pug/svg/icon-reserve.svg
                      p RESARVE
                    span ご予約はこちらから

            .p-top-bbq.js-inview-each.js-inview 
              .p-top-bbq__img.js-inview(data-inview="fade-top")   
                img(src!="<?php echo get_template_directory_uri(); ?>/common/images/top/img-footer.png", alt="BBQ最高！")           
              .p-top-bbq__copy 
                p.js-fadeup.js-inview(data-inview="fade-top") 
                  span さあ、
                br
                p.js-fadeup.js-inview(data-inview="fade-top") 
                  span 大谷を感じよう。
              .p-top-bbq__loop.en
                ul 
                  li LET'S ENJOY cobble〜OYA stone village〜　LET'S ENJOY cobble〜OYA stone village〜
                  li &nbsp; &nbsp; &nbsp; &nbsp; 
                  li LET'S ENJOY cobble〜OYA stone village〜　LET'S ENJOY cobble〜OYA stone village〜
                  li &nbsp; &nbsp; &nbsp; &nbsp; 

            include /elements/footer


    include /elements/body-append
