doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main.p-faq
      main
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01
              .slider-img.slider-img-02

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>plan").en Plan
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>faq").en faq
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact
              br
              .p-anchor__contact
                a(href!="<?php echo home_url( '/' ); ?>contact/")
                  .p-anchor__contact-wrap
                    p.en RESERVE
                    include ../assets/pug/svg/ic_reserve_green.svg
                  span ご予約
            .p-cr.en © cobble

          .c-inner
            include /elements/header
            .p-faq-inner.c-i-inner.js-inview-each.js-inview
              .p-faq-inner__title.en.js-inview(data-inview="fade-top") Q&A
                span よくある質問
              ul.p-faq-inner__pagelink.js-inview(data-inview="fade-top")
                li
                  a(href!="#area-1") 予約について
                li
                  a(href!="#area-2") 支払いについて
                li
                  a(href!="#area-3") 施設について
              .p-faq-inner__contain#area-1.js-inview(data-inview="fade-top")
                p.title 予約について
                .p-faq-inner__contain-wrap.js-accordion
                  ul
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
              .p-faq-inner__contain#area-2.js-inview(data-inview="fade-top")
                p.title 支払いについて
                .p-faq-inner__contain-wrap.js-accordion
                  ul
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
              .p-faq-inner__contain#area-3.js-inview(data-inview="fade-top")
                p.title 施設について
                .p-faq-inner__contain-wrap.js-accordion
                  ul
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席を抑えておくことはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p 人数確定後の予約となり仮押さえはお受けしておりません。



            include /elements/footer
    include /elements/body-append
