doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main.p-plan
      main
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01 
              .slider-img.slider-img-02

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>planbbq").en Plan
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>faq").en Q&A
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact
              br
              .p-anchor__contact
                a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
                  .p-anchor__contact-wrap
                    p.en RESERVE
                    include ../assets/pug/svg/ic_reserve_green.svg
                  span ご予約

            .p-cr.en © cobble

          .c-inner 
            include /elements/header
            //- .c-heading 
            //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/heading-img.png', alt='背景').u-background
            //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/common/u-logo.png', alt='ロゴ').u-logo
            .p-plan__heading.js-inview-each.js-inview 
              .c-ttl01.js-inview(data-inview="fade-top")
                h1.en PLAN
                small プラン
              .p-plan__heading-btn.js-inview(data-inview="fade-top")
                a(href!="<?php echo home_url('/')?>planactivity").en ACTIVITY
                p.en BBQ
            section
              .s-bbq.js-inview-each.js-inview 
                .c-u-inner
                  .s-bbq__title.js-inview(data-inview="fade-top")
                    h2.en
                      |BBQ
                  .s-bbq__text.js-inview(data-inview="fade-top")
                    p
                      |BBQサイトをご利用で中学生以上のお客様はお一人様1プランのご予約をお願いいたします。
                      br
                      |また、席のみのご予約も可能です（中学生以上のお客様はお一人様毎の1フード1ドリンクオーダー制）。
                      br
                      |なお、BBQサイトのご利用時間はお一人様2時間まで（有料にて延長可）となります。
                      br
                      |※当日のお受付も可能ですが、当サイトよりお席のご予約をしていただくとご案内がスムーズです。
                      br
                      |※未就学児のお子様分の飲食物の持ち込みは可能です。
                  .c-ttl02.u-mt-6.js-inview(data-inview="fade-top")
                    .c-ttl02-wrap
                      h3.en SET PLAN
                      span 要予約
                    p セットプラン
                  .s-bbq__item.js-accordion.js-inview(data-inview="fade-top")
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.name 栃木満喫スタンダードプラン
                          p.price.en
                            |￥3,300
                            span.noto (tax)
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li 
                          p 霧降高原牛
                          p 80g
                        li 
                          p とちぎゆめポーク
                          p 80g
                        li
                          p 骨付フランクフルト
                          p 1本
                        li.none
                          p 季節の野菜盛ハーフ
                        //- li.u-mt-2
                        //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/standard.jpg', alt='')
                    //- .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.name 栃木満喫ボリュームプラン
                          p.price.en
                            |¥3,850
                            span.noto (tax)
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li 
                          p 霧降高原牛串
                          p 1本
                        li 
                          p とちぎゆめポーク串
                          p 1本
                        li 
                          p スペアリブ
                          p 約100g
                        li.none
                          p 骨付ソーセージ
                        li.none
                          p 季節の野菜盛ハーフ
                        li.none
                          p 牛カルビ
                        li.u-mt-2
                          img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/volume.jpg', alt='')
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.name 肉＆海鮮プラン
                          p.price.en
                            |¥4,400
                            span.noto (tax)
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li 
                          p 霧降高原牛 
                          p 80g
                        li 
                          p とちぎゆめポーク
                          p 80g
                        li 
                          p エビ、ホタテ、イイダコ串
                          p 1本
                        li.none
                          p 季節の野菜盛ハーフ
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.name 席のみプラン
                          p.price.en
                            |￥0
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li.none
                          p 席のみのご利用を希望される方へのプランです。
                        li.none
                          p 中学生以上のお客様はお一人様あたり1フード1ドリンクのオーダー制となります。

                  .s-bbq__img01.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/img01.jpg', alt='食材の画像')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/img02.jpg', alt='食材の画像')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/img03.jpg', alt='食材の画像')
                  .c-ttl02.u-mt-0.js-inview(data-inview="fade-top")
                    .c-ttl02-wrap
                      h3.en OPTION MENU
                    p オプションメニュー
                    p
                      |当日現地にてご注文ください。
                      br
                      |セットプランの注文が必須ではない小学生以下のお子様には、
                      br
                      |各種オプショオンメニューのご注文をおすすめします。
                  .s-bbq__item.js-accordion.js-inview(data-inview="fade-top")
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.fs20 体験メニュー
                          p.text 実際に調理を体験いただけます。
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area.s-bbq__item-list
                        li
                          .item-img
                            img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-05.jpg', alt='特製バンズのグルメ餃子バーガー')
                          .text-wrap.short
                            p 特製バンズのグルメ餃子バーガー<br>（鉄板代含）
                            p ¥1,100
                        li
                          .item-img
                            img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-03.jpg', alt='宇都宮焼きそば')
                          .text-wrap
                            p 宇都宮焼きそば 2人前<br>(鉄板代含)
                            p ¥1,320
                        li
                          //- .item-img
                          //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu_img01.jpg', alt='')
                          .text-wrap
                            p 鉄板ガーリックライス2人前<br>（鉄板代含）
                            p ¥990
                        li
                          //- .item-img
                          //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu_img01.jpg', alt='')
                          .text-wrap
                            p 特製生地の大谷石窯ピザ<br>（石窯利用代含)
                            p ¥1,650
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.fs20 単品メニュー
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        //- li.none
                        //-   ul.top-list
                        //-     li.none
                        //-       .item-img
                        //-         img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-01.jpg', alt='')
                        //-       p ゴロゴロとちおとめOYAフロート
                        //-       p ¥880
                            //- li.none
                            //-   .item-img
                            //-     img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-02.jpg', alt='')
                            //-   p チョコとマシュマロのスキレットスモア<br>（2～3人分）
                            //-   p ¥1,320
                            //- li.none
                            //-   .item-img
                            //-     img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-04.jpg', alt='')
                            //-   p 肉巻きおにぎり 2個
                            //-   p ¥550
                        li.none
                          ul.bottom-list
                            li
                              p 霧降高原牛 80g
                              p ¥1,650
                            li
                              p とちぎゆめポーク 80g
                              p ¥660
                            li
                              p 那須鶏 80g
                              p ¥550
                            li
                              p 骨付きフランクフルト 1本
                              p ¥330
                            li.short
                              p 栃木県産3種の肉盛合せ<br>（霧降高原牛・ゆめポーク・那須鶏）
                              p ¥2,750
                            li
                              p 季節の野菜盛 1人前
                              p ¥770
                            li
                              p 有頭海老 1尾
                              p ¥770
                            li
                              p 殻付きホタテ 1枚
                              p ¥605
                            li
                              p イイダコ串（4匹）1本
                              p ¥550
                            li
                              p 丸ごとイカ串 1本
                              p ¥770
                            li.short
                              p 小野口さんのとうもろこし 1本
                              p ¥770
                            li
                              p 肉巻きおにぎり 2個
                              p ¥550
                            li
                              p 焼きおにぎり 2個
                              p ¥385
                            li
                              p じゃがバター
                              p ¥660
                            li
                              p バターコーンアルミ焼き
                              p ¥660
                            li.none
                              p チョコとマシュマロのスキレットスモア<br>（2～3人分）
                              p ¥1,320
                            li
                              p ポップコーン
                              p ¥550
                            li
                              p バナナキャラメリゼ
                              p ¥385
                            li
                              p バニラアイス
                              p ¥198
                    //- .c-acc
                    //-   .c-acc__head.a-trigger
                    //-     .c-acc__head-title
                    //-       p.fs20 平日限定ランチメニュー
                    //-       p.text お席の予約をするとご案内がスムーズです。
                    //-     span.arrow
                    //-       include ../assets/pug/svg/ic-arrow-white.svg
                    //-   ul.c-acc__list.a-area
                    //-     li
                    //-       p 特製お任せランチプレート
                    //-       p ¥1,650
                    //- .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.fs20 単品メニュー(プラン内追加)
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li.none  
                          p 牛串
                        li.none 
                          p 豚串
                        li.none  
                          p 鶏串
                        li.none  
                          p 野菜串
                        li.none  
                          p スペアリブ
                        li.none  
                          p 骨付きソーセージ
                        li.none  
                          p 有頭海老
                        li.none  
                          p 殻付きホタテ
                        li.none  
                          p イカ串
                        li.none  
                          p タコ串
                        li.none  
                          p 焼きおにぎり
                        li.none  
                          p バターコーン（ホイル焼き）
                  .c-ttl02.u-mt-6.js-inview(data-inview="fade-top")
                    .c-ttl02-wrap
                      h3.en DRINK
                    p ドリンク
                    p 当日現地にてご注文ください。
                  .s-bbq__item.js-accordion.js-inview(data-inview="fade-top")
                    .s-bbq__img02
                      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/img04.jpg', alt='ドリンク')
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.fs20 アルコール
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area
                        li
                          p 生ビール
                          p ¥770
                        li
                          p ハイボール
                          p ¥660
                        li
                          p 極上レモンサワー
                          p ¥660
                        li
                          p ノンアルコールビール
                          p ¥550
                    .c-acc
                      .c-acc__head.a-trigger
                        .c-acc__head-title
                          p.fs20 ソフトドリンク
                        span.arrow
                          include ../assets/pug/svg/ic-arrow-white.svg
                      ul.c-acc__list.a-area.s-bbq__item-list
                        li.none
                          .item-img
                            img(src!='<?php echo get_template_directory_uri(); ?>/common/images/bbq/menu-01.jpg', alt='ゴロゴロとちおとめOYAフロート')
                          .text-wrap.short
                            p ゴロゴロとちおとめOYAフロート 
                            p ¥880
                        li
                          .text-wrap
                            p コカコーラ
                            p ¥495
                        li
                          .text-wrap
                            p ジンジャーエール
                            p ¥495
                        li
                          .text-wrap
                            p オレンジジュース
                            p ¥440
                        li
                          .text-wrap
                            p りんごジュース
                            p ¥440
                        li
                          .text-wrap
                            p グレープフルーツジュース
                            p ¥440
                        li
                          .text-wrap
                            p 烏龍茶
                            p ¥440
                        li
                          .text-wrap
                            p ハタ紘泉 瓶ラムネ 200ml
                            p ¥330
                  .s-bbq__link.js-inview(data-inview="fade-top")
                    a(href!="<?php echo home_url('/')?>planactivity") ACTIVITY PLANを見る

            include /elements/footer
    include /elements/body-append
