doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main
      main.p-activity
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01
              .slider-img.slider-img-02
              .slider-img.slider-img-03

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>planactivity").en Plan
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>faq").en Q&A
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact
              br
              .p-anchor__contact
                a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
                  .p-anchor__contact-wrap
                    include ../assets/pug/svg/ic_reserve_orange.svg
                    p ご予約はこちら
              .p-anchor__insta
                a(href!="https://www.instagram.com/cobble_oya.stone.village/" target="_blank")
                  .p-anchor__insta-wrap
                    p Instagram

            .p-cr.en © cobble

          .c-inner 
            include /elements/header
            .p-activity__heading.js-inview-each.js-inview 
              .c-ttl01.js-inview(data-inview="fade-top")
                h1.en PLAN
                small プラン
              .p-activity__heading-btn.js-inview(data-inview="fade-top")
                a(href!="<?php echo home_url('/')?>planbbq").en BBQ
                p.en ACTIVITY
            section
              .s-act.js-inview-each.js-inview 
                .c-u-inner
                  .s-act__title.js-inview(data-inview="fade-top")
                    h2.en
                      |ACTIVITY
                  .s-act__text.js-inview(data-inview="fade-top")
                    p
                      |cobble〜OYA stone village〜では子どもから大人まで楽しめるアクティビティをご用意しています。
                      br
                      |大自然の中で時間を忘れるほど楽しめる本格アクティビティで最高の思い出をつくりましょう。
            section.js-inview-each.js-inview 
              .s-treasure
                .c-u-inner.swiper.js-inview(data-inview="fade-top")
                  .swiper-wrapper
                    .s-treasure__img.swiper-slide
                      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img01.jpg', alt='ストーンハント')
                    //- .s-treasure__img.swiper-slide
                    //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img02.jpg', alt='')
                    //- .s-treasure__img.swiper-slide
                    //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img03.jpg', alt='')
                    //- .swiper-pagination
                  .s-treasure__title.js-inview(data-inview="fade-top")
                    h3 OYA STONE HUNT
                  .s-treasure__text.js-inview(data-inview="fade-top")
                    p   
                      |日本有数の採石地「大谷」には、まだ誰も見つけていない秘石が眠っているはずです。みなさんにはストーンハンターになっていただき、大谷の謎を解き明かし、隠された秘石を見つけ出していただきます。子供はもちろん、大人も夢中になって楽しめるアクティビティです。
                    p.u-mt-1
                      |【料金】
                      br
                      |こども・おとな（1名・10分）：770円（税込）
                      br
                      |※事前のご予約は不要です。
              section.js-inview-each.js-inview 
                .s-climbing
                  .c-u-inner
                    .swiper.js-inview(data-inview="fade-top")
                      .swiper-wrapper
                        .s-climbing__img.swiper-slide
                          img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img02.jpg', alt='クライミング')
                        //- .s-climbing__img.swiper-slide
                        //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img01.jpg', alt='')
                        //- .s-climbing__img.swiper-slide
                        //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img03.jpg', alt='')
                        //- .swiper-pagination.pagination-color
                    .s-climbing__title.js-inview(data-inview="fade-top")
                      h3 OYA ROCK CLIMBING
                    .s-climbing__text.js-inview(data-inview="fade-top")
                      p 
                        |大谷石の岩壁を登りてっぺんを目指しましょう！大谷石独特の感触をぜひその手で体験してみてください。cobbleでしか体験できない、採石跡を活かした大谷石クライミングは無料でご利用いただけます。
              section.js-inview-each.js-inview 
                .s-shop
                  .c-u-inner
                    .swiper.js-inview(data-inview="fade-top")
                      .swiper-wrapper
                        .s-shop__img.swiper-slide
                          img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img04.jpg', alt='ワークショップ')
                        //- .s-shop__img.swiper-slide
                        //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img01.jpg', alt='')
                        //- .s-shop__img.swiper-slide
                        //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img02.jpg', alt='')
                        //- .swiper-pagination
                    .s-shop__title.js-inview(data-inview="fade-top")
                      h3 Newアクティビティ
                    .s-shop__text.js-inview(data-inview="fade-top")
                      p 
                        |cobble〜OYA stone village〜では、大谷の自然を活かした、「ココだけ」のアクティビティを順次、拡大して参ります。
                        br
                        |大切な人と一緒に楽しみながら、かけがえのない思い出を作ることができます。自然と触れあえる様々なアクティビティを通じて、人と自然をつなげていきます。
                  .p-activity__link.js-inview(data-inview="fade-top")
                    a(href!="<?php echo home_url('/')?>planbbq") BBQ PLANを見る
              //- section.js-inview-each.js-inview 
              //-   .s-sauna
              //-     .c-u-inner
              //-       .swiper.js-inview(data-inview="fade-top")
              //-         .swiper-wrapper
              //-           .s-sauna__img.swiper-slide
              //-             img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img04.jpg', alt='サウナ')
              //-           //- .s-sauna__img.swiper-slide
              //-           //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img01.jpg', alt='')
              //-           //- .s-sauna__img.swiper-slide
              //-           //-   img(src!='<?php echo get_template_directory_uri(); ?>/common/images/activity/img03.jpg', alt='')
              //-           //- .swiper-pagination.pagination-color
              //-       .s-sauna__title.js-inview(data-inview="fade-top")
              //-         h3 屋外サウナ
              //-       .s-sauna__text.js-inview(data-inview="fade-top")
              //-         p 
              //-           |自然の中でリラックスできる贅沢空間・屋外サウナが今秋オープン！温かいサウナで心身をリフレッシュして忙しい日常から解放される、「ととのう」ひとときをお楽しみください。
              //- .p-activity__link.js-inview(data-inview="fade-top")
              //-   a(href!="<?php echo home_url('/')?>planbbq") BBQ PLANを見る


            include /elements/footer
    include /elements/body-append
