doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main.p-faq
      main
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01
              .slider-img.slider-img-02
              .slider-img.slider-img-03

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>plan").en Plan
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>faq").en Q&A
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact
              br
              .p-anchor__contact
                a(href!="<?php echo home_url( '/' ); ?>contact/")
                  .p-anchor__contact-wrap
                    p.en RESERVE
                    include ../assets/pug/svg/ic_reserve_green.svg
                  span ご予約
            .p-cr.en © cobble

          .c-inner
            include /elements/header
            .p-faq-inner.c-i-inner.js-inview-each.js-inview
              .p-faq-inner__title.en.js-inview(data-inview="fade-top") Q&A
                span よくある質問
              ul.p-faq-inner__pagelink.js-inview(data-inview="fade-top")
                li
                  a(href!="#area-1") 予約について
                li
                  a(href!="#area-3") 施設について
              .p-faq-inner__contain#area-1.js-inview(data-inview="fade-top")
                p.title 予約について
                .p-faq-inner__contain-wrap.js-accordion
                  ul
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 予約はいつから取れますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 60日前～3日前まで予約可能です。<br>シーズン中の土日祝日や夏休みの時期は大変混み合いますのでお早めにお申し込みください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数が確定していないのですが席の確保は可能ですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 仮押さえ等は受け付けておりません。<br>人数変更は予約日の3日前まで可能です。変更の際はお電話にてご相談ください。
                            
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p キャンセル待ちはしていますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex
                            span A
                            p キャンセル待ちは受け付けておりません。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 予約プランの当日変更は可能ですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 当日の変更は受け付けておりません。<br>変更をご希望の際はご利用予定日の3日前までにお問い合わせください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 人数変更は可能ですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 
                              |ご利用予定の3日前までは可能です。
                              br
                              a(href!="<?php echo home_url( '/' ); ?>contact/").under-line お問い合わせフォーム
                              |またはお電話でご相談ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p オプションの追加や変更は可能ですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 
                              |オプション内容に異なります。
                              br
                              a(href!="<?php echo home_url( '/' ); ?>contact/").under-line お問い合わせフォーム
                              |またはお電話でご相談ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 子供は何歳から料金がかかりますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 
                              |中学生以上のお客様で、BBQ手ぶらプランをご利用の際には、1名につき1プランをご注文ください。

              .p-faq-inner__contain.js-inview(data-inview="fade-top")
                p.title#area-3 施設について
                .p-faq-inner__contain-wrap.js-accordion
                  ul
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 飲食物の持ち込みは可能ですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 
                              |「手ぶらプラン」をご利用の場合、未就学児のお子様分を除き、持ち込みはご遠慮いただいております。
                              br
                              |お持ち込みでのBBQをご希望の方には、「持ち込みプラン」をご用意しております。各プランの詳細は
                              a(href!="<?php echo home_url( '/' ); ?>planbbq/").under-line こちら
                              |よりご確認ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 備品は何がありますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p BBQグリル、木炭、木炭用トング1本、食材用トング１本、着火剤、軍手を各テーブルに配置させていただきます。紙皿、割り箸、焼き肉のタレ、塩コショウ、お手拭き、ゴミ袋等の備品は会場内の備品棚に備え付けておりますのでご自由にお使いください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p ゴミは持ち帰りですか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p ゴミは所定の方法で施設内で処分ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 場所のみの貸出はしていますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 
                              |貸出しています。「持ち込みプラン」をご利用ください。詳細は
                              a(href!="<?php echo home_url( '/' ); ?>planbbq/").under-line こちら
                              |よりご確認ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 貸し切りはできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 貸し切りプランもご用意しておりますので、お気軽にお問い合わせください（別途料金発生いたします）。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 宿泊はできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 宿泊プランはございません。<br>お近くの宿泊施設のご案内は可能ですので、お気軽にご相談ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 利用時間の変更や延長はできますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p 1卓（最大6名）あたり2,200円（税込み）にて60分の延長ができます。ご希望のお客様は当日、現地にてスタッフにお申し付けください。当日の施設の利用状況により承れない可能性がございますのであらかじめご了承ください。
                    li
                      .c-acc
                        .c-acc__head.a-trigger
                          .c-acc__head-title
                            span Q
                            p 駐車場はありますか？
                          span.arrow
                            include ../assets/pug/svg/ic-arrow-white.svg
                        .c-acc__list.a-area
                          .flex.align-none
                            span A
                            p cobbleに隣接の専用駐車場（大谷資料館東側）をご利用ください。


            include /elements/footer
    include /elements/body-append
