doctype html
html(lang="ja")
  head
    include /elements/head-property
    include /elements/head-assets
    //- include /mixin/meta
    //- +meta({
    //-     title:"website title"
    //- })
    |<?php wp_head(); ?>
  body
    include /elements/body-preppend

    .l-main.p-fa
      main
        .s-pc
          .p-fixedEle
            .slider
              .slider-img.slider-img-01
              .slider-img.slider-img-02
              .slider-img.slider-img-03

            .p-logo
              include ../assets/pug/svg/logo.svg

            //- .p-insta 
            //-   include ../assets/pug/svg/insta.svg

            .p-anchor 
              a(href!="<?php echo home_url( '/' ); ?>concept").en Concept
              br
              a(href!="<?php echo home_url( '/' ); ?>facility").en Facility
              br
              a(href!="<?php echo home_url( '/' ); ?>planbbq").en Plan
              br
              a(href!="<?php echo home_url( '/' ); ?>news/").en News
              br
              a(href!="<?php echo home_url( '/' ); ?>access").en Access
              br
              a(href!="<?php echo home_url( '/' ); ?>faq").en Q&A
              br
              a(href!="<?php echo home_url( '/' ); ?>contact/").en Contact
              br
              .p-anchor__contact
                a(href!="https://reserva.be/munibbq/aikotoba" target="_blank")
                  .p-anchor__contact-wrap
                    p.en RESERVE
                    include ../assets/pug/svg/ic_reserve_green.svg
                  span ご予約

            .p-cr.en © cobble

          .c-inner 
            include /elements/header
            .p-fa__heading.js-inview-each.js-inview 
              .c-ttl01.js-inview(data-inview="fade-top")
                h1.en FACILITY
                small 施設紹介
            .p-fa__inner.js-inview-each.js-inview 
              .p-fa__heading-text.js-inview(data-inview="fade-top")
                h2 
                  |cobble OYA stone villageを
                  br
                  |満喫できる<span>3つ</span>のコンテンツ
              .p-fa__heading-img.js-inview(data-inview="fade-top")
                img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img01.jpg', alt='宝探し')
                img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img02.jpg', alt='クライミング')
                img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/deco01.png', alt='装飾')
            section.js-inview-each.js-inview 
              .c-u-inner 
                .p-fa-play 
                  .p-fa-play__title.js-inview(data-inview="fade-top")
                    .c-ttl03 
                      h3.en PLAY
                      p 遊ぶ
                  .p-fa-play__text.js-inview(data-inview="fade-top")
                    p 
                      |トレジャーハントやクライミングなど、小さなお子様から大人まで楽しめるアクティビティが満載！
                      br
                      |採石跡ならではのダイナミックなロケーションで心地よい風を感じながら、日常では得られないアウトドアを満喫できます。
                      br
                      |家族・カップル・友達みんなと好きなスタイルで、大谷の大自然をお楽しみください。
            section.js-inview-each.js-inview 
              .p-fa-eat 
                .c-u-inner 
                  .p-fa-eat__title.js-inview(data-inview="fade-top")
                    .c-ttl03.c-white
                      h3.en EAT
                      p 食べる
                  .p-fa-eat__deco.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/deco02.png', alt='装飾')
                  .p-fa-eat__img.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img03.jpg', alt='BBQ')
                  .p-fa-eat__text.js-inview(data-inview="fade-top")
                    p 
                      |地域の「食」を届ける発信地として、この土地の美味しいものと出会える機会を提供しています。 地元栃木県でとれた新鮮な野菜やお肉をそろえたBBQセットのご注文がおすすめです。 BBQに必要な備品を豊富に取り揃えているので、手ぶらで気軽に楽しめます。屋根付きのBBQ会場は急な雨でも安心です。
              section.js-inview-each.js-inview 
                .p-fa-enjoy
                  .c-u-inner
                    .p-fa-enjoy__title.js-inview(data-inview="fade-top")
                      .c-ttl03 
                        h3.en ENJOY
                        p 過ごす
                    .p-fa-enjoy__deco.js-inview(data-inview="fade-top")
                      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/deco03.png', alt='装飾')
                    .p-fa-enjoy__img
                      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img04.jpg', alt='犬を撫でている画像').js-inview(data-inview="fade-top")
                      img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img05.jpg', alt='サウナ').js-inview(data-inview="fade-top")
                    .p-fa-enjoy__text.js-inview(data-inview="fade-top")
                      p 
                        |屋外サウナで日常を忘れ癒しの時を過ごしたり、大好きなペットと自然の中で思いっきり遊んだり。人それぞれ違った楽しみ方ができます。
                        br
                        |「UNIQUE SPACE in LOCAL」この場所ならではの魅力を様々な感性で体験していただくことで、唯一無二の思い出を作ることができます。
              section.js-inview-each.js-inview 
                .p-fa-bottom
                  .p-fa-bottom__head.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img06.jpg', alt='敷地内の画像')
                  .p-fa-bottom__img.js-inview(data-inview="fade-top")
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img07.jpg', alt='BBQ')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/deco04.png', alt='装飾')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/img08.jpg', alt='子供の画像')
                    img(src!='<?php echo get_template_directory_uri(); ?>/common/images/facility/deco05.png', alt='装飾')
            
            include /elements/footer
    include /elements/body-append
